VITE_SUPABASE_URL=https://oprftuxiteqkdrpirchb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9wcmZ0dXhpdGVxa2RycGlyY2hiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3NzYzMzcsImV4cCI6MjA5NDM1MjMzN30.MXxPrKUGKFV0TD1xSeKx90fmnyaihGKQ0aWv9MT_MGY
